:root {
  --color-accent: oklch(91.104% 0.11585 194.011);
}
html { accent-color: var(--color-accent); }

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

nav {
  display: flex;
  margin-bottom: 1rem;
  border-bottom: 1px solid oklch(80% 3% 200);
}

nav a.current {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.1em;
}

nav a:hover,
nav a:focus-visible {
  color: var(--color-accent);
  border-bottom: 0.4em solid currentColor;
  padding-bottom: 0.1em;

  background-color:oklch(94.992% 0.07529 195.013 / 0.904);

}


body {
    font: 100% / 1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 1rem;
}